<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentinel Pulse</title>
    <link rel="stylesheet" href="../static/bootstrap/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Sentinel Pulse</h1>
        </header>

        <div class="content">
            <div class="users-container" id="users">
                <h2>Utilisateurs</h2>
            </div>

            <div class="map-container">
                <div id="map"></div>
                <div class="position-info" id="position-info">Sélectionnez un utilisateur pour voir sa position...</div>
            </div>
        </div>
    </div>
    <script src="../static/bootstrap/js/leaflet.js"></script>
</body>
</html>